{{ define "Page" -}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static "css/main.css" }}" rel="stylesheet" />
    {{ template "Head" $ -}}
  </head>
  <body>
    {{ range $idx, $crumb := .Breadcrumbs -}}
      {{ if gt $idx 0 }}/{{ end -}}
      {{ with (relativePath .Path) -}}
        <a href="{{ . }}">{{ $crumb.Text }}</a>
      {{- else -}}
        {{ $crumb.Text -}}
      {{ end -}}
    {{- end }}
    <main>{{ template "Body" $ -}}</main>
  </body>
</html>
{{ end -}}
