{{ define "Head" -}}
<title>
  {{- with .BinName }}{{ . }}{{ else }}{{ .Name }}{{ end -}}
</title>
{{ end -}}

{{ define "PkgVersion" }}{{ with .PkgVersion }}{{ . }} | {{ end }}{{ end }}
{{ define "NavbarExtra" }} | <a href="#pkg-index">Index</a>{{ end -}}

{{ define "Body" -}}
<h2 id="pkg-overview">
  {{- with .BinName }}{{ . }}{{ else }}package {{ .Name }}{{ end -}}
</h2>
{{ .Import | code }}
{{ .Doc | doc 3 -}}
{{ template "examples" (dict "Level" 3 "Examples" .Examples) -}}

<h3 id="pkg-index">Index</h3>
{{ if or .Constants .Variables .Functions .Types -}}
<ul>
  {{ if .Constants }}<li><a href="#pkg-constants">Constants</a></li>{{ end -}}
  {{ if .Variables }}<li><a href="#pkg-variables">Variables</a></li>{{ end -}}
  {{ range .Functions -}}
    <li><a href="#{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
  {{ end -}}
  {{ range $typ := .Types -}}
    <li>
      <a href="#{{ .Name }}">type {{ .Name }}</a>{{ template "deprecatedTag" . }}
      {{ if or .Functions .Methods -}}
        <ul>
          {{ range .Functions -}}
            <li><a href="#{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
          {{ end -}}
          {{ range .Methods -}}
            <li><a href="#{{ $typ.Name }}.{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
          {{ end -}}
        </ul>
      {{ end -}}
    </li>
  {{ end -}}
</ul>
{{- end }}

{{- with .AllExamples -}}
<h4 id="pkg-examples">Examples</h4>
<ul>
  {{ range . -}}
    {{- $id := printf "example-%s" .Parent.String -}}
    {{- if .Suffix }}{{ $id = printf "%s-%s" $id .Suffix }}{{ end -}}
    <li><a href="#{{ $id }}">
      {{- .Parent }}{{ with .Suffix }} ({{ . }}){{ end -}}
    </a></li>
  {{ end -}}
</ul>
{{- end -}}

{{ with .Constants -}}
  <h3 id="pkg-constants">Constants</h3>
  {{ range . }}{{ template "constOrVar" . }}{{ end -}}
{{ end -}}

{{ with .Variables -}}
  <h3 id="pkg-variables">Variables</h3>
  {{ range . }}{{ template "constOrVar" . }}{{ end -}}
{{ end -}}

{{ with .Functions -}}
  <h3 id="pkg-functions">Functions</h3>
  {{ range . -}}
    {{ if .Deprecated }}<details class="deprecated"><summary>{{ end -}}
      <h3 id="{{ .Name }}">func {{ .Name }} {{- template "deprecatedTag" . }}</h3>
    {{- if .Deprecated }}</summary>{{ end }}
    {{ .Decl | code }}
    {{ .Doc | doc 4 -}}
    {{ template "examples" (dict "Level" 4 "Examples" .Examples) -}}
    {{- if .Deprecated }}</details>{{ end -}}
  {{ end -}}
{{ end -}}

{{ with .Types -}}
  <h3 id="pkg-types">Types</h3>
  {{ range . -}}
    {{ if .Deprecated }}<details class="deprecated"><summary>{{ end -}}
    <h3 id="{{ .Name }}">type {{ .Name }} {{- template "deprecatedTag" . }}</h3>
    {{- if .Deprecated }}</summary>{{ end }}
    {{ .Decl | code }}
    {{ .Doc | doc 4 -}}
    {{ template "examples" (dict "Level" 4 "Examples" .Examples) -}}

    {{ range .Constants -}}
      {{ template "constOrVar" . -}}
    {{ end -}}

    {{ range .Variables -}}
      {{ template "constOrVar" . -}}
    {{ end -}}

    {{ range .Functions -}}
      {{ template "funcOrMethod" . -}}
    {{ end -}}

    {{ range .Methods -}}
      {{ template "funcOrMethod" . -}}
    {{ end -}}
    {{- if .Deprecated }}</details>{{ end -}}
  {{ end -}}
{{ end -}}

{{ with (filterSubpackages .Subpackages) -}}
  {{ template "subpackages.html" . -}}
{{ end -}}
{{ end -}}

{{- define "constOrVar" -}}
  {{ .Decl | code }}
  {{ .Doc | doc 4 -}}
{{- end -}}

{{- define "funcOrMethod" -}}
  {{ $id := .Name -}}
  {{ with .RecvType }}{{ $id = printf "%s.%s" . $id }}{{ end -}}
  {{ if .Deprecated }}<details class="deprecated"><summary>{{ end -}}
    <h4 id="{{ $id }}">func {{ with .Recv }}({{ . }}) {{end }}{{ .Name }} {{- template "deprecatedTag" . }}</h4>
  {{- if .Deprecated }}</summary>{{ end }}
  {{ .Decl | code }}
  {{ .Doc | doc 5 -}}
  {{ template "examples" (dict "Level" 5 "Examples" .Examples) -}}
  {{- if .Deprecated }}</details>{{ end -}}
{{- end -}}

{{- define "examples" -}}
  {{- $level := .Level -}}
  {{ range .Examples -}}
    {{- $id := printf "example-%s" .Parent.String -}}
    {{- if .Suffix }}{{ $id = printf "%s-%s" $id .Suffix }}{{ end -}}
    <details id="{{ $id }}" class="example">
      <summary>Example {{- with .Suffix }} ({{ . }}) {{- end }}</summary>
      {{ .Doc | doc $level -}}
      {{ .Code | code }}
      {{ with .Output -}}
        <div>
          <p>Output:</p>
          <pre>{{ . }}</pre>
        </div>
      {{- end -}}
    </details>
  {{ end -}}
{{- end -}}

{{- define "deprecatedTag" -}}
{{ if .Deprecated }} <span class="deprecated-tag">deprecated</span>{{ end -}}
{{ end -}}
