{{ define "Head" -}}
<title>{{ .Name }}</title>
{{ end -}}

{{ define "PkgVersion" }}{{ with .PkgVersion }}{{ . }} | {{ end }}{{ end }}
{{ define "NavbarExtra" }} | <a href="#pkg-index">Index</a>{{ end -}}

{{ define "Body" -}}
{{ $level := 2 }}
<h{{ $level }} id="pkg-overview" {{- if pagefind }} data-pagefind-meta="Import path:{{ .ImportPath }}"{{end }}>
  {{- /**/ -}}
  package {{ .Name -}}
</h{{ $level }}>
{{ $level = inc $level }}
{{ .Import | code }}
{{ .Doc | doc $level -}}
{{ template "examples" (dict "Level" $level "Examples" .Examples) -}}

<h{{ $level }} id="pkg-index" {{- pagefindIgnore -}}>Index</h{{ $level }}>
{{ if or .Constants .Variables .Functions .Types -}}
<ul {{- pagefindIgnore -}}>
  {{ if .Constants }}<li><a href="#pkg-constants">Constants</a></li>{{ end -}}
  {{ if .Variables }}<li><a href="#pkg-variables">Variables</a></li>{{ end -}}
  {{ range .Functions -}}
    <li><a href="#{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
  {{ end -}}
  {{ range $typ := .Types -}}
    <li>
      <a href="#{{ .Name }}">type {{ .Name }}</a>{{ template "deprecatedTag" . }}
      {{ if or .Functions .Methods -}}
        <ul>
          {{ range .Functions -}}
            <li><a href="#{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
          {{ end -}}
          {{ range .Methods -}}
            <li><a href="#{{ $typ.Name }}.{{ .Name }}">{{ .ShortDecl }}</a>{{ template "deprecatedTag" . }}</li>
          {{ end -}}
        </ul>
      {{ end -}}
    </li>
  {{ end -}}
</ul>
{{- end }}

{{- with .AllExamples -}}
{{ $level := inc $level }}
<h{{ $level }} id="pkg-examples" {{- pagefindIgnore -}}>Examples</h{{ $level }}>
<ul>
  {{ range . -}}
    {{- $id := printf "example-%s" .Parent.String -}}
    {{- if .Suffix }}{{ $id = printf "%s-%s" $id .Suffix }}{{ end -}}
    <li><a href="#{{ $id }}">
      {{- .Parent }}{{ with .Suffix }} ({{ . }}){{ end -}}
    </a></li>
  {{ end -}}
</ul>
{{- end -}}

{{ with .Constants -}}
  <h{{ $level }} id="pkg-constants" {{- pagefindIgnore -}}>Constants</h{{ $level }}>
  {{ $level := inc $level }}
  {{ range . }}{{ template "constOrVar" (dict "Level" $level "ConstOrVar" .) }}{{ end -}}
{{ end -}}

{{ with .Variables -}}
  <h{{ $level }} id="pkg-variables" {{- pagefindIgnore -}}>Variables</h{{ $level }}>
  {{ $level := inc $level }}
  {{ range . }}{{ template "constOrVar" (dict "Level" $level "ConstOrVar" .) }}{{ end -}}
{{ end -}}

{{ with .Functions -}}
  <h{{ $level }} id="pkg-functions" {{- pagefindIgnore -}}>Functions</h{{ $level }}>
  {{ $level := inc $level }}
  {{ range . }}{{ template "funcOrMethod" (dict "Level" $level "FuncOrMethod" .) }}{{ end -}}
{{ end -}}

{{ with .Types -}}
  <h{{ $level }} id="pkg-types" {{- pagefindIgnore -}}>Types</h{{ $level }}>
  {{ $level := inc $level }}
  {{ range . -}}
    {{ if .Deprecated }}<details class="deprecated"><summary>{{ end -}}
    <h{{ $level }} id="{{ .Name }}">type {{ .Name }} {{- template "deprecatedTag" . }}</h{{ $level }}>
    {{- if .Deprecated }}</summary>{{ end }}
    {{ $level := inc $level }}
    {{ .Decl | code }}
    {{ .Doc | doc $level -}}
    {{ template "examples" (dict "Level" $level "Examples" .Examples) -}}

    {{ range .Constants -}}
      {{ template "constOrVar" (dict "Level" $level "ConstOrVar" .) -}}
    {{ end -}}

    {{ range .Variables -}}
      {{ template "constOrVar" (dict "Level" $level "ConstOrVar" .) -}}
    {{ end -}}

    {{ range .Functions -}}
      {{ template "funcOrMethod" (dict "Level" $level "FuncOrMethod" .) -}}
    {{ end -}}

    {{ range .Methods -}}
      {{ template "funcOrMethod" (dict "Level" $level "FuncOrMethod" .) -}}
    {{ end -}}
    {{- if .Deprecated }}</details>{{ end -}}
  {{ end -}}
{{ end -}}

{{ with (filterSubpackages .Subpackages) -}}
  {{ template "subpackages.html" . -}}
{{ end -}}
{{ end -}}

{{- define "constOrVar" -}}
  {{ $level := .Level }}
  {{ with .ConstOrVar }}
  {{ .Decl | code }}
  {{ .Doc | doc $level -}}
  {{ end }}
{{- end -}}

{{- define "funcOrMethod" -}}
  {{ $level := .Level }}
  {{- with .FuncOrMethod -}}
  {{ $id := .Name -}}
  {{ with .RecvType }}{{ $id = printf "%s.%s" . $id }}{{ end -}}
  {{ if .Deprecated }}<details class="deprecated"><summary>{{ end -}}
    <h{{ $level }} id="{{ $id }}">func {{ with .Recv }}({{ . }}) {{end }}{{ .Name }} {{- template "deprecatedTag" . }}</h {{- $level }}>
  {{- if .Deprecated }}</summary>{{ end }}
  {{ $level = inc $level }}
  {{ .Decl | code }}
  {{ .Doc | doc $level -}}
  {{ template "examples" (dict "Level" $level "Examples" .Examples) -}}
  {{- if .Deprecated }}</details>{{ end -}}
  {{- end -}}
{{- end -}}

{{- define "examples" -}}
  {{- $level := .Level -}}
  {{ range .Examples -}}
    {{- $id := printf "example-%s" .Parent.String -}}
    {{- if .Suffix }}{{ $id = printf "%s-%s" $id .Suffix }}{{ end -}}
    <details id="{{ $id }}" class="example">
      <summary>Example {{- with .Suffix }} ({{ . }}) {{- end }}</summary>
      {{ .Doc | doc $level -}}
      {{ .Code | code }}
      {{ with .Output -}}
        <div>
          <p>Output:</p>
          <pre>{{ . }}</pre>
        </div>
      {{- end -}}
    </details>
  {{ end -}}
{{- end -}}

{{- define "deprecatedTag" -}}
{{ if .Deprecated }} <span class="deprecated-tag">deprecated</span>{{ end -}}
{{ end -}}
