<h3 id="{{ .Name }}">type {{ .Name }}</h3>
<pre><code>{{ .Decl | code }}</code></pre>
{{ .Doc | doc }}
{{- /* TODO: type examples */ -}}

{{ range .Constants -}}
  {{ template "value.html" . -}}
{{ end -}}

{{ range .Variables -}}
  {{ template "value.html" . -}}
{{ end -}}

{{ range .Functions -}}
  {{ template "funcOrMethod" . -}}
{{ end -}}

{{ range .Methods -}}
  {{ template "funcOrMethod" . -}}
{{ end -}}

{{- define "funcOrMethod" -}}
  <h4 id="{{with .RecvType }}{{ . }}.{{ end }}{{ .Name }}">
    func {{ with .Recv }}({{ . }}) {{end }}{{ .Name }}
  </h4>
  <pre><code>{{ .Decl | code }}</code></pre>
  {{ .Doc | doc }}
  {{- /* TODO: function examples */ -}}
{{- end -}}
