name: Docs Compare

on:
  pull_request:
    branches: ['*']

concurrency:
  group: docs-compare-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-old:
    name: Build old docs
    uses: ./.github/workflows/docs-build.yml
    with:
      ref: ${{ github.base_ref }}
      artifact-name: old_docs
      upload-as-pages: false
      minify: false

  build:
    name: Build new docs
    uses: ./.github/workflows/docs-build.yml
    with:
      ref: ${{ github.ref }}
      artifact-name: docs
      upload-as-pages: false
      minify: false

  diff:
    name: Compare docs
    needs: [build-old, build]
    runs-on: ubuntu-latest

    steps:
      - name: Download old docs
        uses: actions/download-artifact@v6
        with:
          name: old_docs
          path: a

      - name: Download new docs
        uses: actions/download-artifact@v6
        with:
          name: docs
          path: b

      - name: Extract archives
        run: |
          (cd a && tar -xzf docs.tar.gz && rm docs.tar.gz)
          (cd b && tar -xzf docs.tar.gz && rm docs.tar.gz)

      - name: Generate diff
        id: diff
        shell: bash
        run: |
          DIFF_OPTS=(
            --ignore-space-change
            --unified
            --recursive
            --exclude=pagefind
            -I "/doc2go/offline-search-index."
            -I "Last modified"
            -I 'meta property="article:modified_time"'
            -I 'meta itemprop="dateModified"'
            -I 'meta itemprop="wordCount"'
            -I '<lastmod>'
          )

          echo "Docs Diff:" > comment.md
          echo "" >> comment.md
          echo '```diff' >> comment.md
          echo "::group::Diff"
          if diff "${DIFF_OPTS[@]}" a/ b/ >> comment.md; then
            echo "has_diff=false" >> "$GITHUB_OUTPUT"
          else
            echo "has_diff=true" >> "$GITHUB_OUTPUT"
          fi
          echo "::endgroup::"
          echo '```' >> comment.md

      - name: Find existing comment
        if: steps.diff.outputs.has_diff == 'true'
        uses: peter-evans/find-comment@v4
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Docs Diff

      - name: Create or update comment
        if: steps.diff.outputs.has_diff == 'true'
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body-file: comment.md
          edit-mode: replace
